<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Is your car safe?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/functions.js"></script>
    <!-- maps and places scripts -->
    <script async defer src="insert api key here" type="text/javascript"></script>
</head>
<body>
    <input id="input" type="text" class="form-control"></input>
    <div class="slidecontainer" id="slidecontainer">
        
        <input type="range" min="100" max="500" class="slider" id="myRange">
        <div>
            <input id="input-for-slide" type=int class="form-control">
        </div>
    </div>
    <!--<div class="slidecontainer">
        <input type=int class="form-control" id="input-for-slide"></input>
    </div>-->
	<div id="map"></div>
    <!-- TODO add Bootstrap to make input nicer -->

</body>

</html>
