<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Is your car safe?</title>
</head>

<body>

    /* MAPS */
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYup8ip5-C6qCf1J6KIrP2hJg4yhB88Xk&callback=initMap" type="text/javascript"></script>

    /* PLACES */
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYup8ip5-C6qCf1J6KIrP2hJg4yhB88Xk&libraries=places"></script>
    
</body>

</html>
